In [1]:
import numpy as np

## Data Types and Attributes

In [2]:
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [3]:
type(a1)

numpy.ndarray

In [4]:
a2 = np.array([[1,2,3],
              [4,5,6]])
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [5]:
a3 = np.array([[[1,2,3],
               [4,5,6],
               [7,8,9]],
              [[10,11,12],
              [13,14,15],
              [16,17,18]]])
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [6]:
a1.shape, a2.shape, a3.shape

((3,), (2, 3), (2, 3, 3))

In [7]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [8]:
import pandas as pd

df = pd.DataFrame(a2)
df

   0  1  2
0  1  2  3
1  4  5  6

The Data Frame only accepts 2D data. if a 3D data set is provided it gives error
for example if we pass `df = pd.DataFrame(a3)` where a3 is a 3D array. it returns error

# Ceating Arrays

In [9]:
ones = np.ones((1,2,3,5))
ones

array([[[[1., 1., 1., 1., 1.],
         [1., 1., 1., 1., 1.],
         [1., 1., 1., 1., 1.]],

        [[1., 1., 1., 1., 1.],
         [1., 1., 1., 1., 1.],
         [1., 1., 1., 1., 1.]]]])

In [10]:
zero = np.zeros((2,3))
zero

array([[0., 0., 0.],
       [0., 0., 0.]])

In [11]:
# its is similar to a range function with start, stop and stepover parameters
range_array = np.arange(0, 10, 2, dtype = float)
range_array

array([0., 2., 4., 6., 8.])

In [12]:
float_range_array = np.linspace(0, 5.5, num = 10)
float_range_array

array([0.        , 0.61111111, 1.22222222, 1.83333333, 2.44444444,
       3.05555556, 3.66666667, 4.27777778, 4.88888889, 5.5       ])

In [13]:
float_range_array2= np.linspace(0, 5.5, num =10, endpoint=False)
float_range_array2

array([0.  , 0.55, 1.1 , 1.65, 2.2 , 2.75, 3.3 , 3.85, 4.4 , 4.95])

The `retstep=True` provides the exact value of the stepover, by which the number is incremented. And the `num=10` tells the total number of elements it the numpy array should have.

In [14]:
float_range_array3 = np.linspace(0, 5.5, num=10, retstep=True)
float_range_array3

(array([0.        , 0.61111111, 1.22222222, 1.83333333, 2.44444444,
        3.05555556, 3.66666667, 4.27777778, 4.88888889, 5.5       ]),
 0.6111111111111112)

In [15]:
random_array = np.random.randint(0, 15, size=(3,5), dtype=int)
random_array

array([[11, 14,  1, 11,  1],
       [ 6,  1, 14, 10,  7],
       [12,  7, 10, 10, 11]])

In [16]:
random_array.size

15

In [17]:
random_array2 =  np.random.random(size = (3,5))
random_array2

array([[0.92815881, 0.89537607, 0.97875211, 0.14311742, 0.81089096],
       [0.30542517, 0.68088895, 0.89410847, 0.3931385 , 0.72178218],
       [0.08575086, 0.26872769, 0.89513567, 0.24577057, 0.67053774]])

In [18]:
random_array3 = np.random.rand(3,5)
random_array3

array([[0.60700857, 0.79991341, 0.46227343, 0.49264768, 0.13477832],
       [0.09528095, 0.10443437, 0.00436005, 0.60385298, 0.35122283],
       [0.85908937, 0.13466959, 0.71406421, 0.7568899 , 0.78755139]])

In [19]:
np.random.seed(seed = 555)
random_array4 = np.random.randint(0,10,size=(3,5))
random_array4

array([[9, 1, 4, 6, 6],
       [9, 0, 5, 0, 4],
       [6, 6, 5, 5, 0]])

# Viewing Arrays

In [20]:
np.unique(random_array)

array([ 1,  6,  7, 10, 11, 12, 14])

In [21]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [22]:
a3[:2,:2,:2][:2,:2,:1]

array([[[ 1],
        [ 4]],

       [[10],
        [13]]])

In [23]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [24]:
a2[1][1]

5

In [25]:
a4 = np.random.randint(0,10, size=(2,3,4,5))
a4

array([[[[4, 1, 9, 4, 3],
         [9, 3, 3, 3, 4],
         [7, 8, 3, 1, 4],
         [9, 1, 1, 8, 4]],

        [[0, 1, 4, 4, 0],
         [0, 2, 9, 1, 0],
         [3, 4, 5, 2, 1],
         [0, 0, 8, 2, 5]],

        [[9, 9, 0, 0, 3],
         [9, 8, 9, 6, 4],
         [5, 4, 7, 5, 7],
         [4, 7, 3, 3, 1]]],


       [[[3, 5, 1, 0, 0],
         [8, 1, 1, 3, 6],
         [6, 1, 4, 3, 5],
         [1, 4, 3, 6, 5]],

        [[4, 1, 6, 5, 2],
         [8, 0, 4, 1, 3],
         [7, 7, 0, 6, 7],
         [6, 1, 4, 0, 3]],

        [[4, 9, 2, 8, 6],
         [8, 9, 5, 2, 8],
         [4, 8, 0, 3, 3],
         [5, 5, 4, 7, 4]]]])

In [26]:
# how to fetch the middle row of the innermost column.
a4[:,:,2:3,2:3]

array([[[[3]],

        [[5]],

        [[7]]],


       [[[4]],

        [[0]],

        [[0]]]])

# Manipulating and Comparing Arrays

In [27]:
a1

array([1, 2, 3])

In [28]:
one_1 = np.ones(shape = (2,3),dtype=float)
one_1

array([[1., 1., 1.],
       [1., 1., 1.]])

In [29]:
a1 + one_1

array([[2., 3., 4.],
       [2., 3., 4.]])

In [30]:
a1 * a2

array([[ 1,  4,  9],
       [ 4, 10, 18]])

 if we want to multiply `a2 * a3` it will give a error as `operands could not be broadcast together with shapes (2,3) (2,3,3)` This is because the shapes are different. The problem is resolved by using transposing and reshape of the matrix

In [31]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [32]:
a2 ** 2

array([[ 1,  4,  9],
       [16, 25, 36]], dtype=int32)

In [33]:
np.square(a2)

array([[ 1,  4,  9],
       [16, 25, 36]], dtype=int32)

In [34]:
# Floor division removes the decimals (rounds down)
a2 // a1

array([[1, 1, 1],
       [4, 2, 2]], dtype=int32)

In [35]:
a2/a1

array([[1. , 1. , 1. ],
       [4. , 2.5, 2. ]])

In [36]:
np.exp(a1)

array([ 2.71828183,  7.3890561 , 20.08553692])

In [37]:
np.log(a1)

array([0.        , 0.69314718, 1.09861229])

# Aggregation

In [38]:
np.sum(a2)

21

We should always use the methid of `sum()` in Pythons Object and `np.sum()` numpy's function in numpy Objects.
- below example is to demonstrate the same

In [45]:
big_array = np.random.rand(1000000)
big_array[:10]

array([0.66460146, 0.64458033, 0.81074062, 0.58409151, 0.59391785,
       0.31439553, 0.96526743, 0.6495409 , 0.80378033, 0.19214651])

In [46]:
%timeit sum(big_array)
%timeit np.sum(big_array)

386 ms ± 5.06 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
1.78 ms ± 54.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [48]:
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [49]:
np.mean(a2)  #this is nothing but the average

3.5

In [51]:
np.max(a2)

6

**Standard Deviation** and **Variance** shows how the data is being spread about.

More the value of standard deviation and variance it means the data is spread across, and vice versa.

- **Standard Deviation** = it is a measure of how spread out the numbers are from its mean
- **Variance** = measure of the average degree to which each number is different to the mean
        - Higher variance = wider range of numbers
        - Lower variance = lower range of numbers
 https://www.mathsisfun.com/data/standard-deviation.html link of an article which explains on `std` and `variance`

In [56]:
np.var(a2)

2.9166666666666665

In [58]:
# Standard deviation is the squareroot of Variance down exmaple shows both the value as same.
np.std(a2)

1.707825127659933

In [59]:
np.sqrt(np.var(a2))

1.707825127659933